
<h1 mat-dialog-title>Detalles de {{ data.nombre }}</h1>
<div mat-dialog-content>
  <!-- Imagen del nudi -->
  <img [src]="data.imagen" alt="{{ data.nombre }}" class="img-fluid mb-3">

  <!-- Datos del nudi -->
  <p><strong>Nombre:</strong> {{ data.nombre }}</p>
  <p><strong>Tamaño:</strong> {{ data.tamano }}</p>
  <p><strong>Sociabilidad:</strong> {{ data.sociabilidad }}</p>
  <p><strong>Dieta:</strong> {{ data.dieta }}</p>
 
</div>

<!-- Botón de cerrar -->
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="botonCerrar">Cerrar</button>
</div>

