<app-menu></app-menu>
<div class="contenedorPrincipal">
  <app-menu-lateral></app-menu-lateral>
  <div class="main-content">
    <div class="tablaContenedor">
      <h2>Lista de Usuarios</h2>

      <app-buscador (searchTextChanged)="onSearchTextChanged($event)"></app-buscador>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Edad</th>
      <th>Imagen</th>
      <th>Acciones</th>
      
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let user of filteredUsuarios | paginate: { itemsPerPage: 4, currentPage: p }">
      <td>{{ user.id }}</td>
      <td>{{ user.nombre }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.edad }}</td>
      <td>
        <img [src]="user.imagen" [alt]="user.nombre" width="100" height="100">
      </td>
      <td class="acciones">
        <div>
          
          <button class="bontonEditar" (click)="actualizarUsuario(user)">
            <i class="fas fa-edit"></i> Editar
          </button>
          <button class="botonEliminar" (click)="borrarUsuario(user.id)">
            <i class="fas fa-trash-alt"></i> Eliminar
          </button>
        </div>
      </td>
     
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
</div>
