<app-menu></app-menu>

<div class="tablaContenedor">
  <h2>Lista de Nudibranquios</h2>
  <app-buscador (searchTextChanged)="onSearchTextChanged($event)"></app-buscador>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Tamaño</th>
        <th>Fotografía</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let nudi of filteredNudis | paginate: { itemsPerPage: 4, currentPage: p }">
        <td>{{ nudi.id }}</td>
        <td>{{ nudi.nombre }}</td>
        <td>{{ nudi.especie }}</td>
        <td>{{ nudi.tamano }}</td>
        <td style="text-align: center">
          <img [src]="nudi.imagen" alt="{{ nudi.nombre }}" width="150" height="140">
          <div>
            <button class="botonDetalles" (click)="openModal(nudi)">Ver detalles</button>
            <div>
              <button class="bontonEditar" (click)="actualizarNudi(nudi)">Editar</button>
              <button class="botonEliminar" (click)="borrarNudi(nudi.id)">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>
</div>
